<!DOCTYPE html>
<html>
<head>
    <title>{{.Title}}</title>
</head>
<body>
{{if ge .ValueOne 70}}
    <h1>Your Grade is A</h1>
{{else if ge .ValueOne 50  }}
    <h1>Your Grade is C</h1>
{{else}}
    <h1>Your Grade is D</h1>
{{end}}
</body>
</html>
