<!DOCTYPE html>
<html>
<head>
    <title>{{.Title}}</title>
</head>
<body>
{{range $index, $item := .Skills}}
    <h1>your skill: index ({{$index}}). Item: {{$item}}</h1>
{{else}}
    <h1>You have no skills</h1>
{{end}}
</body>
</html>
